{% extends "base.html" %}
{% load static %}
{% block title %}
О проекте
{% endblock %}
{% block content %}
<section class="bsb-author-1 bg-light py-5 py-xl-8 bsb-hover-special-x"
         xmlns="http://www.w3.org/1999/html">
    <div class="container overflow-hidden">
        <div class="row justify-content-center gy-4 gy-md-0">
            <div class="col-12 col-md-3 col-xl-2 d-flex align-items-center justify-content-center">
            </div>
            <div class="col-12 col-md-8 col-lg-6 col-xl-5 d-flex align-items-center justify-content-center">
                <div class="text-center text-md-start bsb-hover-special-pull-x">
                    <h3 class="text-secondary fs-7">
                        MTS Tariff parser
                    </h3>
                    <p class="mb-3">
                        Собирает информацию о всех актуальных тарифах МТС с
                        сайта, записывает в БД и выводит на страницу.
                        Для старта нажмите кнопку ниже:
                    </p>
                    <p class="nav-item">
                    <form id="myForm" method="GET">
                        <input type="submit" value="Парсить">
                    </form>

                    <script>
                        document.getElementById("myForm").addEventListener("submit", function (event) {
                            event.preventDefault();
                            window.location.href = "/parser/";
                        });
                    </script>
                    </p>
                    <p class="mb-0">
                        <a href="https://github.com/AndreiKlevtsov"
                           class="link-dark text-decoration-none">
                            GitHub
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="16" height="16" fill="currentColor"
                                 class="bi bi-arrow-bar-right"
                                 viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8Zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5Z"/>
                            </svg>
                        </a>
                        <label> Andrey Klevtsov </label>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}